<div id="comment_<%=comment.id%>">
	<%=comment.content%>
	<%= user_name(comment.user_id)%>
	<%if current_user.has_role? :admin%>
		<%= link_to 'Destroy', topic_comment_path(@topic,comment), method: :delete, data: { confirm: 'Are you sure?' } %>
	<%end%>
</div>

